In [ ]:
!pip install transformers

Collecting transformers
  Downloading https://files.pythonhosted.org/packages/a3/78/92cedda05552398352ed9784908b834ee32a0bd071a9b32de287327370b7/transformers-2.8.0-py3-none-any.whl (563kB)
     |████████████████████████████████| 573kB 2.7MB/s
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.6/dist-packages (from transformers) (4.38.0)
Collecting sacremoses
  Downloading https://files.pythonhosted.org/packages/99/50/93509f906a40bffd7d175f97fd75ea328ad9bd91f48f59c4bd084c94a25e/sacremoses-0.0.41.tar.gz (883kB)
     |████████████████████████████████| 890kB 57.6MB/s
Requirement already satisfied: filelock in /usr/local/lib/python3.6/dist-packages (from transformers) (3.0.12)
Requirement already satisfied: dataclasses; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from transformers) (0.7)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.6/dist-packages (from transformers) (2019.12.20)
Collecting tokenizers==0.5.2
  Downloading https://files.pythonhosted.org/packages/d1/3f/73c881ea4723e43c1e9acf317cf407fab3a278daab3a69c98dcac511c04f/tokenizers-0.5.2-cp36-cp36m-manylinux1_x86_64.whl (3.7MB)
     |████████████████████████████████| 3.7MB 46.4MB/s
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from transformers) (1.12.47)
Collecting sentencepiece
  Downloading https://files.pythonhosted.org/packages/98/2c/8df20f3ac6c22ac224fff307ebc102818206c53fc454ecd37d8ac2060df5/sentencepiece-0.1.86-cp36-cp36m-manylinux1_x86_64.whl (1.0MB)
     |████████████████████████████████| 1.0MB 62.4MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from transformers) (1.18.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (1.12.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (0.14.1)
Requirement already satisfied: botocore<1.16.0,>=1.15.47 in /usr/local/lib/python3.6/dist-packages (from boto3->transformers) (1.15.47)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from boto3->transformers) (0.3.3)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->transformers) (0.9.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (2.9)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.16.0,>=1.15.47->boto3->transformers) (0.15.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore<1.16.0,>=1.15.47->boto3->transformers) (2.8.1)
Building wheels for collected packages: sacremoses
  Building wheel for sacremoses (setup.py) ... done
  Created wheel for sacremoses: filename=sacremoses-0.0.41-cp36-none-any.whl size=893334 sha256=a6b1a2d31777d30b8c8d5a724f28d705a9e635392e26b69e49762a43f09629e1
  Stored in directory: /root/.cache/pip/wheels/22/5a/d4/b020a81249de7dc63758a34222feaa668dbe8ebfe9170cc9b1
Successfully built sacremoses
Installing collected packages: sacremoses, tokenizers, sentencepiece, transformers
Successfully installed sacremoses-0.0.41 sentencepiece-0.1.86 tokenizers-0.5.2 transformers-2.8.0

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
import torch
import transformers as ppb
import warnings
from google.colab import files
warnings.filterwarnings('ignore')

# **Training**

In [ ]:
#uploaded = files.upload()
df1= pd.read_csv('bert_one.csv',encoding='ISO-8859-1')

pd.DataFrame.from_records(df1)

df1.head()

   Unnamed: 0  X.1  ...  attitude                                            reduced
0           1    1  ...         1  It's the only Airbnb that actually exceeded ex...
1           2    2  ...         0  READ other REVIEWS about this place. The host ...
2           3    3  ...         0  I never stayed here so why falsely say I did. ...
3           4    4  ...         0  This place was nothing like the add pictured a...
4           5    5  ...         0  place her why understand I Now available? is m...

[5 rows x 9 columns]

In [ ]:
df1['attitude'].value_counts()

0    377
1    123
Name: attitude, dtype: int64

In [ ]:
df1.shape

(500, 9)

In [ ]:
# For DistilBERT:
model_class, tokenizer_class, pretrained_weights = (ppb.DistilBertModel, ppb.DistilBertTokenizer, 'distilbert-base-cased')

# Load pretrained model/tokenizer
tokenizer = tokenizer_class.from_pretrained(pretrained_weights)
model = model_class.from_pretrained(pretrained_weights)

HBox(children=(IntProgress(value=0, description='Downloading', max=411, style=ProgressStyle(description_width=…

HBox(children=(IntProgress(value=0, description='Downloading', max=263273408, style=ProgressStyle(description_…

In [ ]:
tokenized = df1['reduced'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))

In [ ]:
max_len = 0
for i in tokenized.values:
    if len(i) > max_len:
        max_len = len(i)

padded = np.array([i + [0]*(max_len-len(i)) for i in tokenized.values])

In [ ]:
attention_mask = np.where(padded != 0, 1, 0)
attention_mask.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded)  
attention_mask = torch.tensor(attention_mask)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()

In [ ]:
labels=df1['attitude']

In [ ]:
# hold this for other datasets
lr_clf = LogisticRegression()
lr_clf.fit(features, labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# spliting test/train
train_features, test_features, train_labels, test_labels = train_test_split(features, labels)

In [ ]:
# train the regression model
lr_clf = LogisticRegression()
lr_clf.fit(train_features, train_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# evaluate model
lr_clf.score(test_features, test_labels)

0.952

In [ ]:
test_hat = lr_clf.predict(test_features)

In [ ]:
test_hat.shape

(125,)

In [ ]:
confusion_matrix(test_hat,test_labels)

array([[94,  3],
       [ 3, 25]])

In [ ]:
df1.head()

      Unnamed: 0  ...                                            reduced
1245        1246  ...  NOT GOOD CHOICE!! \r\n\r\nIn one of the rooms ...
2139        2140  ...  HORRIBLE EXPERIENCE\r\n\r\nThis experience was...
1973        1974  ...  Great and easy location. It will be much bette...
888          889  ...  Jime was very nice and the location was perfec...
957          958  ...  We had to wait 10-15 minutes before assistant ...

[5 rows x 8 columns]

In [ ]:
df2 = pd.read_csv("bert_two.csv",encoding='ISO-8859-1')

In [ ]:
df2.head()

   Unnamed: 0  X.1  ...  attitude                                            reduced
0           1  501  ...         0  The worst part of my stay was when I was about...
1           2  502  ...         1  Probably a great value and place to stay in th...
2           3  503  ...         1  My son & I drove from Houston TX to NYC and st...
3           4  504  ...         0  Sadly this was a very bad experience. I??ve g...
4           5  505  ...         0  DO NOT WASTE YOUR MONEY\r\n\r\nYOU WILL BE DIS...

[5 rows x 9 columns]

In [ ]:
tokenized_one = df2['reduced'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
labels=df2['attitude']

In [ ]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels)

In [ ]:
lr_clf = LogisticRegression()
lr_clf.fit(train_features, train_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
lr_clf.score(test_features, test_labels)

0.808

In [ ]:
test_hat = lr_clf.predict(test_features)

In [ ]:
confusion_matrix(test_hat,test_labels)

array([[81, 16],
       [ 8, 20]])

In [ ]:
df3 = pd.read_csv("bert_three.csv",encoding='ISO-8859-1')
df3.head()

   Unnamed: 0  ...                                            reduced
0           1  ...  Overall, the stay corresponded to my expectati...
1           2  ...  My worst airbnb experience yet. Dirty bathroom...
2           3  ...  Exactly as pictured. Killer neighborhood. Shab...
3           4  ...  My ios airbnb app somehow didnât clearly dif...
4           5  ...  Jowelle, we remain very disappointed that your...

[5 rows x 9 columns]

In [ ]:
tokenized_one = df3['reduced'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
labels=df3['attitude']

In [ ]:
three_hat = lr_clf.predict(features)

In [ ]:
df3['group'] = three_hat

In [ ]:
df3['Match'] = np.where(df3['group'] == df3['attitude'], 1,0)
Total = df3['Match'].sum()
print (Total/500)

0.812

In [ ]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels)
lr_clf = LogisticRegression()
lr_clf.fit(train_features, train_labels)
lr_clf.score(test_features, test_labels)

0.864

In [ ]:
test_hat = lr_clf.predict(test_features)
confusion_matrix(test_hat,test_labels)

array([[75, 15],
       [ 2, 33]])

In [ ]:
df4 = pd.read_csv("bert_four.csv",encoding='ISO-8859-1')

In [ ]:
tokenized_one = df4['reduced'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
labels=df4['attitude']

In [ ]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels)
lr_clf = LogisticRegression()
lr_clf.fit(train_features, train_labels)
lr_clf.score(test_features, test_labels)

0.824

In [ ]:
test_hat = lr_clf.predict(test_features)
confusion_matrix(test_hat,test_labels)

array([[76,  7],
       [ 7, 35]])

In [ ]:
lr_clf.fit(test_features,test_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
df5 = pd.read_csv("bert_five.csv",encoding='ISO-8859-1')

In [ ]:
tokenized_one = df5['reduced'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(377, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
labels=df5['attitude']

In [ ]:
five_hat = lr_clf.predict(features)
df5['group'] = five_hat

In [ ]:
df5['Match'] = np.where(df5['group'] == df5['attitude'], 1,0)
Total = df5['Match'].sum()
print (Total/377)

0.8275862068965517

In [ ]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels)
lr_clf = LogisticRegression()
lr_clf.fit(train_features, train_labels)
lr_clf.score(test_features, test_labels)

0.7894736842105263

In [ ]:
test_hat = lr_clf.predict(test_features)
confusion_matrix(test_hat,test_labels)

array([[48, 14],
       [ 6, 27]])

In [ ]:
lr_clf.fit(test_features,test_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# **Labelling Section**

In [ ]:
#@title
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
#@title
model_save_name = 'bert_classifier.pt'
path = F"/content/gdrive/My Drive/{model_save_name}" 
torch.save(model.state_dict(), path)

In [ ]:
df_final1 = pd.read_csv("bert_tbt.csv",nrows = 500)

In [ ]:
df_final1.head()

   Unnamed: 0  listing_id  ...        id label
0           1       12937  ...     12937    en
1           2     3486103  ...   3486103    en
2           3    13771529  ...  13771529    en
3           4    15890547  ...  15890547    en
4           5    17252229  ...  17252229    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final1['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final1['prediction'] = prediction

In [ ]:
df_final1.tail()

     Unnamed: 0  listing_id        date  ...        id  label prediction
495         496    10358093  2018-10-03  ...  10358093     en          0
496         497    12669490  2019-08-11  ...  12669490     en          0
497         498    14429957  2018-08-08  ...  14429957     en          1
498         499    14988596  2018-11-14  ...  14988596     en          0
499         500    15115382  2018-12-13  ...  15115382     en          1

[5 rows x 7 columns]

In [ ]:
df_final1.to_csv('bert_1.csv', encoding='utf-8')

In [ ]:
df_final2 = pd.read_csv("bert_tbt.csv",skiprows = range(1,501),nrows = 500)
df_final2.head()

   Unnamed: 0  listing_id  ...        id label
0         501    16324410  ...  16324410    en
1         502    16478472  ...  16478472    en
2         503    16771876  ...  16771876    en
3         504    19011527  ...  19011527    en
4         505    20151455  ...  20151455    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final2['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final2['prediction'] = prediction
df_final2.to_csv('bert_2.csv', encoding='utf-8')

In [ ]:
df_final3 = pd.read_csv("bert_tbt.csv",skiprows = range(1,1001),nrows = 500)
df_final3.head()

   Unnamed: 0  listing_id  ...        id label
0        1001    21930306  ...  21930306    en
1        1002    24472398  ...  24472398    en
2        1003    26939557  ...  26939557    en
3        1004    27678634  ...  27678634    en
4        1005    28430639  ...  28430639    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final3['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final3['prediction'] = prediction
df_final3.to_csv('bert_3.csv', encoding='utf-8')

In [ ]:
df_final4 = pd.read_csv("bert_tbt.csv",skiprows = range(1,1501),nrows = 500)
df_final4.head()

   Unnamed: 0  listing_id  ...        id label
0        1501    33944331  ...  33944331    en
1        1502    37833505  ...  37833505    en
2        1503    39277490  ...  39277490    en
3        1504    39630152  ...  39630152    en
4        1505      495249  ...    495249    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final4['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final4['prediction'] = prediction
df_final4.to_csv('bert_4.csv', encoding='utf-8')

In [ ]:
df_final5 = pd.read_csv("bert_tbt.csv",skiprows = range(1,2001),nrows = 500)
df_final5.head()

   Unnamed: 0  listing_id  ...        id label
0        2001    31856192  ...  31856192    en
1        2002    39024416  ...  39024416    en
2        2003      764753  ...    764753    en
3        2004     2977232  ...   2977232    en
4        2005     5748301  ...   5748301    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final5['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final5['prediction'] = prediction
df_final5.to_csv('bert_5.csv', encoding='utf-8')

In [ ]:
df_final6 = pd.read_csv("bert_tbt.csv",skiprows = range(1,2501),nrows = 500)
df_final6.head()

   Unnamed: 0  listing_id  ...        id label
0        2501    15706863  ...  15706863    en
1        2502    16140364  ...  16140364    en
2        2503    19212378  ...  19212378    en
3        2504    19439682  ...  19439682    en
4        2505    21946495  ...  21946495    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final6['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final6['prediction'] = prediction
df_final6.to_csv('bert_6.csv', encoding='utf-8')

In [ ]:
df_final7 = pd.read_csv("bert_tbt.csv",skiprows = range(1,3001),nrows = 500)
df_final7.head()

   Unnamed: 0  listing_id  ...        id label
0        3001     3539882  ...   3539882    en
1        3002     9108196  ...   9108196    en
2        3003     9979094  ...   9979094    en
3        3004    10088636  ...  10088636    en
4        3005    10812027  ...  10812027    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final7['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final7['prediction'] = prediction
df_final7.to_csv('bert_7.csv', encoding='utf-8')

In [ ]:
df_final8 = pd.read_csv("bert_tbt.csv",skiprows = range(1,3501),nrows = 500)
df_final8.head()

   Unnamed: 0  listing_id  ...        id label
0        3501    26884369  ...  26884369    en
1        3502    36205697  ...  36205697    en
2        3503     1349237  ...   1349237    en
3        3504     3924820  ...   3924820    en
4        3505     4454538  ...   4454538    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final8['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final8['prediction'] = prediction
df_final8.to_csv('bert_8.csv', encoding='utf-8')

In [ ]:
df_final9 = pd.read_csv("bert_tbt.csv",skiprows = range(1,4001),nrows = 500)
df_final9.head()

   Unnamed: 0  listing_id  ...       id label
0        4001       57874  ...    57874    en
1        4002      957002  ...   957002    en
2        4003     1533652  ...  1533652    en
3        4004     4218129  ...  4218129    en
4        4005     4538019  ...  4538019    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final9['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final9['prediction'] = prediction
df_final9.to_csv('bert_9.csv', encoding='utf-8')

In [ ]:
df_final10 = pd.read_csv("bert_tbt.csv",skiprows = range(1,4501),nrows = 500)
df_final10.head()

   Unnamed: 0  listing_id  ...        id label
0        4501    33151516  ...  33151516    en
1        4502     2919578  ...   2919578    en
2        4503     6327222  ...   6327222    en
3        4504     7125107  ...   7125107    en
4        4505    10368714  ...  10368714    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final10['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final10['prediction'] = prediction
df_final10.to_csv('bert_10.csv', encoding='utf-8')

In [ ]:
df_final11 = pd.read_csv("bert_tbt.csv",skiprows = range(1,5001),nrows = 500)
df_final11.head()

   Unnamed: 0  listing_id  ...        id label
0        5001      587698  ...    587698    en
1        5002     1066779  ...   1066779    en
2        5003     1621235  ...   1621235    en
3        5004     9902314  ...   9902314    en
4        5005    15001872  ...  15001872    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final11['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final11['prediction'] = prediction
df_final11.to_csv('bert_11.csv', encoding='utf-8')

In [ ]:
df_final12 = pd.read_csv("bert_tbt.csv",skiprows = range(1,5501),nrows = 500)
df_final12.head()

   Unnamed: 0  listing_id  ...        id label
0        5501    13246804  ...  13246804    en
1        5502    17137626  ...  17137626    en
2        5503    20529328  ...  20529328    en
3        5504    21473314  ...  21473314    en
4        5505    22905091  ...  22905091    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final12['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final12['prediction'] = prediction
df_final12.to_csv('bert_12.csv', encoding='utf-8')

In [ ]:
df_final13 = pd.read_csv("bert_tbt.csv",skiprows = range(1,6001),nrows = 500)
df_final13.head()

   Unnamed: 0  listing_id  ...        id label
0        6001    22345271  ...  22345271    en
1        6002    23256946  ...  23256946    en
2        6003    23703345  ...  23703345    en
3        6004    25417007  ...  25417007    en
4        6005    28583186  ...  28583186    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final13['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final13['prediction'] = prediction
df_final13.to_csv('bert_13.csv', encoding='utf-8')

In [ ]:
df_final14 = pd.read_csv("bert_tbt.csv",skiprows = range(1,6501),nrows = 500)
df_final14.head()

   Unnamed: 0  listing_id  ...        id label
0        6501    25838887  ...  25838887    en
1        6502    30068829  ...  30068829    en
2        6503    30741302  ...  30741302    en
3        6504      460036  ...    460036    en
4        6505      860163  ...    860163    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final14['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final14['prediction'] = prediction
df_final14.to_csv('bert_14.csv', encoding='utf-8')

In [ ]:
df_final15 = pd.read_csv("bert_tbt.csv",skiprows = range(1,7001),nrows = 500)
df_final15.head()

   Unnamed: 0  listing_id  ...        id label
0        7001     7770735  ...   7770735    en
1        7002     9786398  ...   9786398    en
2        7003    19641775  ...  19641775    en
3        7004    21609205  ...  21609205    en
4        7005    24194478  ...  24194478    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final15['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final15['prediction'] = prediction
df_final15.to_csv('bert_15.csv', encoding='utf-8')

In [ ]:
df_final16 = pd.read_csv("bert_tbt.csv",skiprows = range(1,7501),nrows = 500)
df_final16.head()

   Unnamed: 0  listing_id  ...        id label
0        7501    14262383  ...  14262383    en
1        7502    16793649  ...  16793649    en
2        7503    17609541  ...  17609541    en
3        7504    22971074  ...  22971074    en
4        7505    23106220  ...  23106220    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final16['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final16['prediction'] = prediction
df_final16.to_csv('bert_16.csv', encoding='utf-8')

In [ ]:
df_final17 = pd.read_csv("bert_tbt.csv",skiprows = range(1,8001),nrows = 500)
df_final17.head()

   Unnamed: 0  listing_id  ...        id label
0        8001    17779504  ...  17779504    en
1        8002    18121314  ...  18121314    en
2        8003    18858761  ...  18858761    en
3        8004    19641775  ...  19641775    en
4        8005    20529760  ...  20529760    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final17['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final17['prediction'] = prediction
df_final17.to_csv('bert_17.csv', encoding='utf-8')

In [ ]:
df_final18 = pd.read_csv("bert_tbt.csv",skiprows = range(1,8501),nrows = 500)
df_final18.head()

   Unnamed: 0  listing_id  ...        id label
0        8501     9394266  ...   9394266    en
1        8502    11676984  ...  11676984    en
2        8503    20210285  ...  20210285    en
3        8504    21289522  ...  21289522    en
4        8505    21485174  ...  21485174    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final18['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final18['prediction'] = prediction
df_final18.to_csv('bert_18.csv', encoding='utf-8')

In [ ]:
df_final19 = pd.read_csv("bert_tbt.csv",skiprows = range(1,9001),nrows = 500)
df_final19.head()

   Unnamed: 0  listing_id  ...        id label
0        9001     6787310  ...   6787310    en
1        9002     8889118  ...   8889118    en
2        9003     9029289  ...   9029289    en
3        9004    10855464  ...  10855464    en
4        9005    10883053  ...  10883053    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final19['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final19['prediction'] = prediction
df_final19.to_csv('bert_19.csv', encoding='utf-8')

In [ ]:
df_final20 = pd.read_csv("bert_tbt.csv",skiprows = range(1,9501),nrows = 500)
df_final20.head()

   Unnamed: 0  listing_id  ...       id label
0        9501     5192219  ...  5192219    en
1        9502     6051044  ...  6051044    en
2        9503     6093352  ...  6093352    en
3        9504     7376952  ...  7376952    en
4        9505     7453537  ...  7453537    en

[5 rows x 6 columns]

In [ ]:
tokenized_one = df_final20['comments'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True,max_length = 512)))
max_len = 0
for i in tokenized_one.values:
    if len(i) > max_len:
        max_len = len(i)

padded_one = np.array([i + [0]*(max_len-len(i)) for i in tokenized_one.values])
attention_mask_one = np.where(padded_one != 0, 1, 0)
attention_mask_one.shape

(500, 512)

In [ ]:
input_ids = torch.tensor(padded_one)  
attention_mask = torch.tensor(attention_mask_one)

with torch.no_grad():
    last_hidden_states = model(input_ids, attention_mask=attention_mask)

In [ ]:
features = last_hidden_states[0][:,0,:].numpy()
prediction = lr_clf.predict(features)
df_final20['prediction'] = prediction
df_final20.to_csv('bert_20.csv', encoding='utf-8')

In [ ]:
df_final20.tail()

     Unnamed: 0  listing_id        date  ...        id  label prediction
495        9996    24489174  2019-11-05  ...  24489174     en          1
496        9997    24942474  2018-09-20  ...  24942474     en          0
497        9998    25161242  2019-02-14  ...  25161242     en          0
498        9999    27052657  2018-10-08  ...  27052657     en          0
499       10000    28131065  2019-06-01  ...  28131065     en          0

[5 rows x 7 columns]

In [ ]:
df_final21 = pd.read_csv("bert_tbt.csv",skiprows = range(1,10001),nrows = 500)
df_final21.head()

   Unnamed: 0  listing_id  ...        id label
0       10001    28548195  ...  28548195    en
1       10002    29740171  ...  29740171    en
2       10003    30592647  ...  30592647    en
3       10004    31175570  ...  31175570    en
4       10005    38115292  ...  38115292    en

[5 rows x 6 columns]